<form asp-controller="Account" method="post">
    <label>Transfer from Account id:</label>
    <input type="text" name="accountIdFrom" />
    <br />
    <label>Transfer to Account id:</label>
    <input type="text" name="accountIdTo" />
    <br />
    <label>Amount:</label>
    <input type="text" name="transferAmount" />
    <br />
    <br />
    <input type="submit" asp-action="Transfer" value="Transfer" />
</form>